body {
  font-family: 'Oswald', sans-serif;
}

#map {
  height: 800;
  width: 800;
  position: absolute;
}
.subwaylines {
   stroke: blue;
   stroke-width: 1px;
   fill: none;
}
div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 180px;          
    height: 56px;         
    padding: 2px;       
    font: 12px sans-serif;   
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
    z-index: 10;
}

.infoBox {
  border-radius: 10px;
  fill: #0f0f0f;
  font-size: 10;
  font-weight: bold;
}
.timeLabel {
  text-anchor: end;
  cursor: pointer;
  font-size: 10;
  z-index: 7; 
}

.timeLabel:hover {
  fill: white;
}

.mainTimeLabelText {
  font-size:24;
}

#mainTimeLabel {
  position: absolute;
}
#timeLabelsBox {
  position: absolute;  
}

.timeLabelsBoxTitle {
  font-size: 16;
  fill: white;
  text-anchor: start;
  cursor: pointer;
  z-index: 7;   
}

.introText {
  width: 800;
}